.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 636px) {
    .profile {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
}