.popup__close {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    background-image: url(../../../images/logo/icon-close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: contain;
    padding: 0;
    border: 0;
    opacity: 1;
}

.popup__close:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 530px) {
    .popup__close {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0; 
    }
}