.header__link {
  text-decoration: none;
  color: #fff;
  text-align: right;
  font-size: 18px;
  line-height: 22px;
}

.header__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 530px) {
  .header__link {
    font-size: 14px;
    line-height: 17px;
  }
}