.profile__caption {
    max-width: 360px;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 800px) {
    .profile__caption {
        max-width: 320px;
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (max-width: 636px) {
    .profile__caption {
        max-width: 240px;
        text-align: center;
    }
}