.header__burger-menu_opened {
  width: 24px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: #000;
  background-image: url(../../../../images/logo/icon-close.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.header__burger-menu_opened:hover {
  opacity: 0.6;
}