.popup__info-success {
  margin: 26px auto 32px;
  width: 120px;
  min-height: 120px;
  background-image: url(../../../images/logo/success.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 530px) {
  .popup__info-success {
    margin: 0 auto 40px;
  }
}